body {
    background-color: white;
}

.head{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.table{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
    
}

.table td:nth-child(2)
{
    border-right: solid 1px black; 
    
}
.table > table td:first-child:hover{
    background-color: #CFE2FF;
    cursor: pointer;
}
#tableone{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
#tabletwo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

#tablethree{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

#tablefour{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.center_text {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #CFE2FF;
    width: 50%;

}

.Taxes {
    padding: 0 1em 1em 1em;
}

.Taxes h2 {
    text-align: center;
}


.house_payments {
    max-width: 100%;
}

.taxtable {
    background-color: #557098;
    color: rgb(255, 249, 231);
}

.taxtable td {
    border: 2px solid #CFE2FF;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.darkbg{
    background-color: #557098;
    color: rgb(255, 249, 231);
}

.lightbg {
    background-color: #CFE2FF;
    color: black;
}

.lightbg td {
    border: 2px solid white;
}

@media only screen and (max-width: 1000px) {
    body {
      font-size: 2px;
      width: 50%;
    }
  }